@import "tailwindcss";
.text1 {
    font-size: large;
    font-stretch: expanded;
    font-variant: small-caps;
    font-weight: 500;
}
.text2{
    
    font-stretch: expanded;
    font-variant: small-caps;
    font-weight: 900;
}